<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>URLshort | Homepage</title>
</head>
<body>
<div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>URLshort</p>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign out</button>
        </div>
    </nav>
    <!-----------------------------Input Form----------------------------------->
    <div>
        <div class="container input-container">
            <form action="Home.html">
                <div style="margin-bottom: 20px;">
                    <input type="text" class="input-field" placeholder="put your url here" >
                </div>
                <button type="submit" id="generateBtn" class="btn white-btn"
                        style="font-size:15px;">generate</button>
            </form>

        </div>
    </div>
    <!----------------------------- Teble container ----------------------------------->

    <div class="container table-container">
        <div th:if="${linkList.size() != 0}">
            <h1>Your URLs</h1>
            <table  class="able table-borderless">
                <thead>
                <tr>
                    <th style="padding-right: 40px;"> Original link</th>
                    <th style="padding-left: 40px;">Short link</th>
                    <th style="padding-left: 40px;">    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="link : ${linkList}">
                    <td style="padding-right: 40px;">
                        <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           th:href="${link.link}">
                            original link
                        </a>
                    </td>
                    <td style="padding-left: 40px;">
                        <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                            short link
                        </a>
                    </td>
                    <td>
                        <a class="btn" role="button" data-bs-toggle="button" data-bs-toggle="tooltip" title="edit" style="font-size:12px" th:href="@{/note/edit_note/{id}(id=${note.id})}"> ✏️ </a>
                        <a class="btn" role="button" data-bs-toggle="button" data-bs-toggle="tooltip" title="remove" style="font-size:12px" th:href="@{/note/edit_note/{id}(id=${note.id})}"> 🗑️ </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>